# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

src/include/*
src/lib/*

# local tmp files
src/tensorflow/ops/make/testDataSet.*

tests/pdf_doc
tests/tmp
tests/tmp.nim
test.binary
TODO.md
